.Track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .Track-information h3 {
    margin: 0;
    font-size: 1rem;
  }
  
  .Track-information p {
    margin: 0;
    font-size: 0.8rem;
    color: #555;
  }
  
  .Track-action {
    padding: 0.25rem 0.5rem;
    background-color: #1db954;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .Track-action:hover {
    background-color: #1ed760;
  }
  
