.SearchResults {
    width: 45%;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 1rem;
    margin-right: 1rem;
  }
  
  .SearchResults h2 {
    margin-top: 0;
    color: #191414;
    font-size: 1.5rem;
  }
  
  .no-results {
    color: #555;
    font-style: italic;
  }
  