.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
  min-height: 100vh;
  padding: 1rem;
}

.App-logo {
  height: 80px;
  pointer-events: none;
  margin-bottom: 1rem;
}

.App-playlist {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

