.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
  min-height: 100vh;
  padding: 1rem;
}

.App h1 {
  color: #1db954;
  font-size: 2.5rem;
}

.App span {
  color: #191414; /* For Ja<span>mmm</span>ing logo effect */
}

