.Playlist {
    width: 45%;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 1rem;
  }
  
  .Playlist input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .Playlist button {
    padding: 0.5rem 1rem;
    background-color: #1db954;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .Playlist button:hover {
    background-color: #1ed760;
  }
  
  